<p><i class="fa fa-calendar"></i>  {{ today | date}}</p>
<div class="col-xs-12 mt-3">
    <div class="articleBox">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="/assets/home/post.svg" class="homeImg" alt="Post"> 
                </div>
                <div class="col greyBgColor borderRadiusLeft">
                   <p class="primaryColor homeNumbers text-center">500</p>
                   <p class="homeText text-center">Story</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 mt-3">
    <div class="articleBox">
        <div class="container">
            <div class="row">
                <div class="col greyBgColor borderRadiusRight">
                    <p class="primaryColor homeNumbers text-center">23</p>
                    <p class="homeText text-center">Comment</p>
                 </div>
                <div class="col">
                    <img src="/assets/home/comment.svg" class="homeImg" alt="Comment"> 
                </div>
            </div>
           
        </div>
    </div>
</div>


<div class="col-xs-12 mt-3">
    <div class="articleBox">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="/assets/home/ask.svg" class="homeImg" alt="Ask"> 
                </div>
                <div class="col greyBgColor borderRadiusLeft">
                   <p class="primaryColor homeNumbers text-center">122</p>
                   <p class="homeText text-center">Ask</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-xs-12 mt-3">
    <div class="articleBox">
        <div class="container">
            <div class="row">
                <div class="col greyBgColor borderRadiusRight">
                    <p class="primaryColor homeNumbers text-center">23</p>
                    <p class="homeText text-center">Job</p>
                 </div>
                <div class="col">
                    <img src="/assets/home/job.svg" class="homeImg" alt="Job"> 
                </div>
            </div>
           
        </div>
    </div>
</div>
<br>