
<p><i class="fa fa-calendar"></i>  {{ today | date}}</p>
<div class="col-xs-12 mt-3">
    <div class="articleBox">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="/assets/home/post.svg" class="homeImg" alt="Post"> 
                </div>
                <div class="col greyBgColor borderRadiusLeft">
                    <div class="d-flex justify-content-center mt-2" *ngIf="!nbStory">
                        <div class="spinner-border text-warning" role="status">
                        </div>
                      </div>
                   <p class="primaryColor homeNumbers text-center">{{ nbStory | number }}</p>
                   <p class="homeText text-center">Story</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 mt-3">
    <div class="articleBox">
        <div class="container">
            <div class="row">
                <div class="col greyBgColor borderRadiusRight">
                    <div class="d-flex justify-content-center mt-2" *ngIf="!nbComment">
                        <div class="spinner-border text-warning" role="status">
                        </div>
                      </div>
                    <p class="primaryColor homeNumbers text-center">{{ nbComment | number }}</p>
                    <p class="homeText text-center">Comment</p>
                 </div>
                <div class="col">
                    <img src="/assets/home/comment.svg" class="homeImg" alt="Comment"> 
                </div>
            </div>
           
        </div>
    </div>
</div>


<div class="col-xs-12 mt-3">
    <div class="articleBox">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="/assets/home/ask.svg" class="homeImg" alt="Ask"> 
                </div>
                <div class="col greyBgColor borderRadiusLeft">
                    <div class="d-flex justify-content-center mt-2" *ngIf="!nbAsk">
                        <div class="spinner-border text-warning" role="status">
                        </div>
                      </div>
                   <p class="primaryColor homeNumbers text-center">{{ nbAsk | number }}</p>
                   <p class="homeText text-center">Ask</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-xs-12 mt-3">
    <div class="articleBox">
        <div class="container">
            <div class="row">
                <div class="col greyBgColor borderRadiusRight">
                    <div class="d-flex justify-content-center mt-2" *ngIf="!nbShow">
                        <div class="spinner-border text-warning" role="status">
                        </div>
                      </div>
                    <p class="primaryColor homeNumbers text-center">{{ nbShow | number }} </p>
                    <p class="homeText text-center">Show</p>
                 </div>
                <div class="col">
                    <img src="/assets/home/show.svg" class="homeImg" alt="Job"> 
                </div>
            </div>
           
        </div>
    </div>
</div>
<br>