<div class="col-xs-12 mt-3">
    <div class="articleBox" (click)="openArticle(article.url)">
        <div class="container">
            <p class="header">{{article.title}} 
                <span class="primaryColor smallText">
                    {{ article.url != null ? '('+ (article.url | website) +')' : '' }}
                </span></p>
                
            <p class="description" [innerHtml]="article.text | descriptionPipe "></p>
            <p class="detail">
                <i class="fa fa-user-o"></i> By : {{article.by}} | 
                <i class="fa fa-clock-o"></i> {{article.time | dateAgo}} |
                <i *ngIf="article.descendants != null" class="fa fa-commenting-o"></i> {{ article.descendants != null  ?  article.descendants  : ''}} 
                <span class="badge badge-dark float-right">{{ article.score}} Points</span>
            </p>
        </div>
    </div>
</div>