
        <div class="col-xs-12 my-4">
    
            <ul class="menuList">
                <li>
                    <a class="btnMenu" routerLinkActive="selected" routerLink="articles/newstories">New</a>
                </li>
                <li>
                    <a class="btnMenu" routerLinkActive="selected" routerLink="articles/beststories">Past</a>
                </li>
                <li>
                    <a class="btnMenu" routerLinkActive="selected" routerLink="articles/showstories">Show</a>
                </li>
                <li>
                    <a class="btnMenu" routerLinkActive="selected" routerLink="articles/jobstories">Jobs</a>
                </li>  
            </ul>
        </div>
   
    


   
