
        <div class="col-xs-12 mt-4">
    
            <ul class="menuList">
                <li>
                    <a class="selectedBtn" >New</a>
                </li>
                <li>
                    <a class="notSelectedBtn">Past</a>
                </li>
                <li>
                    <a class="notSelectedBtn">Comments</a>
                </li>
                <li>
                    <a class="notSelectedBtn">Ask</a>
                </li>
            
            </ul>
        </div>
   
    


   
