
        <div class="col-xs-12 my-4">
    
            <ul class="menuList">
                <li>
                    <a class="btnMenu" routerLinkActive="selected" routerLink="articles/newstories">New</a>
                </li>
                <li>
                    <a class="btnMenu" routerLinkActive="selected" routerLink="articles/topstories">Top</a>
                </li>
                <li>
                    <a class="btnMenu" routerLinkActive="selected" routerLink="articles/showstories">Show</a>
                </li>
                <li>
                    <a class="btnMenu" routerLinkActive="selected" routerLink="articles/askstories">Ask</a>
                </li>
                <li>
                    <a class="btnMenu" routerLinkActive="selected" routerLink="articles/jobstories">Jobs</a>
                </li>  
                <li>
                    <a class="btnMenu"><i class="fa fa-search" (click)="onSearchBtn()"></i></a>
                </li>
            </ul>
            
        </div>
        <div class="col-xs-12 mb-2" *ngIf="showSearch">
            <form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline">
              
                <div class="input-group rounded">
                      <input 
                      type="search" 
                      placeholder="Search"
                      ngModel  
                      class="form-control rounded" 
                      name="keyword" 
                      aria-describedby="search-addon" 
                      aria-label="Search"
                      required
                      >
                    <button type="submit" class="input-group-text border-0" id="search-addon" [disabled]='!f.valid'>
                      <i class="fa fa-search"></i>
                    </button>
                  </div>          
            </form>
        </div>
   
    


   
