
    <div class="col-xs-12 mt-4">
        <div class="articleBox">
            <div class="container">
                <p class="header">Lorem Ipsum is simply dummy text.</p>
                <p class="description">
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, …when an unknown printer took a galley of type and scrambled
                </p>
                <p class="detail"><i class="fa fa-clock-o"></i> 1 min ago | 50 comments</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 mt-2">
        <div class="articleBox">
            <div class="container">
                <p class="header">Lorem Ipsum is simply dummy text.</p>
                <p class="description">
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, …when an unknown printer took a galley of type and scrambled
                </p>
                <p class="detail"><i class="fa fa-clock-o"></i> 1 min ago | 50 comments</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 mt-2">
        <div class="articleBox">
            <div class="container">
                <p class="header">Lorem Ipsum is simply dummy text.</p>
                <p class="description">
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, …when an unknown printer took a galley of type and scrambled
                </p>
                <p class="detail"><i class="fa fa-clock-o"></i> 1 min ago | 50 comments</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 mt-2">
        <div class="articleBox">
            <div class="container">
                <p class="header">Lorem Ipsum is simply dummy text.</p>
                <p class="description">
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, …when an unknown printer took a galley of type and scrambled
                </p>
                <p class="detail"><i class="fa fa-clock-o"></i> 1 min ago | 50 comments</p>
            </div>
        </div>
    </div>
    
    <button class="moreBtn boldText my-3">Load More</button>
  
